<!DOCTYPE html>
<html>
    <head>
        <title>Static links</title>
        <link rel="stylesheet" href="CSS/styles.css">
    </head>
    <body>
        {{>header}}
        <img src="images/photo.jpg">
        {{>footer}}
    </body>
</html>