<!DOCTYPE html>
<html>
    <head>
        <title>Help Page</title>
        <link rel="stylesheet" href="CSS/styles.css">
    </head>
    <body>
        {{>header}}
        <h1>{{topic}}</h1>
        <p>This is helping me with {{type}} values</p>
        {{>footer}}
    </body>
</html>